
.shop-itemz{
    background-color: #212529;
    padding-top: 3%;
    padding-bottom: 2%;
    color: black;
}

.cart{
    padding-bottom: 2%;
}

#centerr{
    background-color: black;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
}

